{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier/react",
        "prettier/standard",
        "react-app"
    ],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "no-console": "off",
        "prettier/prettier": "error"
    }
}
